body {
 background-image: url("./images/background.jpg");
 background-size:auto;
 width: 1300px;
 background-position: center;
 background-repeat: no-repeat;
 background-attachment: fixed;
 -webkit-background-size: cover;
}
    div1{
        color:blue;
        font-size: larger;
        font-family:serif;
        text-align:left;
    }
    div{
        size: 50px;
        opacity:0.6;
        height: fit-content;
        width: 1400px;
    }
    .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(98, 137, 180,0.5);
  text-align: center;
}
h1{
text-align:center;
}
.boldfont{
    font-family: sans-serif;
    font-weight: bolder;
    color: rgb(159, 119, 233);
    font-size: 20;
}
.boldfont2{
    font-family: sans-serif;
    font-weight: bolder;
    color: rgb(255, 125, 244);
    font-size: 20;
}
.boldfont3{
    font-family: sans-serif;
    font-weight: bolder;
    color: rgb(96, 186, 238);
    font-size: 20;
}
ul{
    bottom: 0; 
    right: 0;
    left: 0;
    top: 0;
}
p{
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-indent:150px;
    text-shadow: 2px 2px 5px rgb(104, 174, 231);
    font-variant:small-caps;
    font-size:xx-large;
}